{% extends "base.html" %}
{% block body %}
    <style>
        .description {
            font-size: medium;
        }
    </style>
    <div class="row">
        <div class="span12">
            <br>
            <h1>About Page</h1>
            <br>
            <div class="span6">
                <p class="description">RPG Online gives you a platform for creating role playing games and storing character information.  The current game types that are supported are:</p>
                <p class="description">OVA: The Anime Role-Playing Game</p>
                <h3>Site Navigation</h3>
                <p class="description">New games can be created or joined under the Games tab</p>
                <p class="description">Use the Character Creation tab to build a new character</p>
                <p class="description">All of the characters you have previously designed can be viewed or edited in the Character tab</p>
                <br><br>
            </div>
        </div>
    </div>
{% endblock %}