{% extends "base.html" %}
{% block body %}
    <div class="row">
        <div class="span12">
            <script type="text/javascript">
                var cur_game_id;
                var char_id;
                $(document).ready(function() {
                    args = window.location.search.substring(1).split('?')[1];
                    arg1 = args.split('&')[0];
                    arg1 = arg1.split('=')[1];
                    arg2 = args.split('&')[1];
                    arg2 = arg2.split('=')[1];
                    alert(arg1 + " " + agr2);
                    
                    cur_game_id = arg2;
                    char_id = agr1;
                    
                    var charE = document.getElementById("cid");
                    var gameE = document.getElementById("gid");
                    
                    charE.value;
                });
            </script>
            
            <div>
                <form class="form" id="add-form" method="post" action="">
                    <input id="cid" type="hidden" name="char_id">
                    <input id="gid" type="hidden" name="game_id"> 
                </form>
            </div>
            
        </div>
    </div>
{% endblock %}
