{% extends "base.html" %}
{% block body %}
    <script type="text/javascript" src="/static/js/character_create.js"></script> 
    <script type="text/javascript">
        $(document).ready(function() {
            var charName = window.location.search.substring(1).split('=')[1];
            $.getJSON( '/specific_character_json', { name: "{{ session['username'] }}",  id: charName}, function( data ) {
        if(data['name']) $("#name_text").val(data['name']);
        if(data['portrait_url']) $("#portraiturl_text").val(data['portrait_url']);

        if(data['ability_list'])
        {
        for(var i=0; i < Object.keys(data['ability_list']).length; i++ )
        {
            var ability = [data['ability_list'][i]['ability_id'],
                   data['ability_list'][i]['ability_name'],
                   data['ability_list'][i]['ability_value'],
                   data['ability_list'][i]['ability_note']];
            ability_list.push(ability);
            update_ability_table();
        }
        }

        if(data['weakness_list'])
        {
        for(var i=0; i < Object.keys(data['weakness_list']).length; i++ )
        {
            var weaknesses = [data['weakness_list'][i]['weakness_id'],
                      data['weakness_list'][i]['weakness_name'],
                      data['weakness_list'][i]['weakness_value'],
                      data['weakness_list'][i]['weakness_note']];
            weaknesses_list.push(weaknesses);
            update_weakness_table();
        }
        }	

        if(data['attack_list'])
        {
        for(var i=0; i < Object.keys(data['attack_list']).length; i++ )
        {
        
            for(var z=0; z < Object.keys(data['attack_list'][i]['perks']).length; z++ )
            {
            var perk = [data['attack_list'][i]['perks'][z]['perk_id'],
                    data['attack_list'][i]['perks'][z]['perk_name'],
                    data['attack_list'][i]['perks'][z]['multiplier'],
                    data['attack_list'][i]['perks'][z]['note']
                    ];
            perks_list.push(perk);
            update_perk_table();
            }

            for(var z=0; z < Object.keys(data['attack_list'][i]['flaws']).length; z++ )
            {
            var flaw = [data['attack_list'][i]['flaws'][z]['flaw_id'],
                    data['attack_list'][i]['flaws'][z]['flaw_name'],
                    data['attack_list'][i]['flaws'][z]['multiplier'],
                    data['attack_list'][i]['flaws'][z]['note']
                    ];
            flaws_list.push(flaw);
            update_flaw_table();
            }

            var pl = perks_list.slice();
                var fl = flaws_list.slice();

            var attack = [data['attack_list'][i]['name'],
                    pl, fl,
                    data['attack_list'][i]['roll'],
                    data['attack_list'][i]['dx'],
                    data['attack_list'][i]['end'],
                    data['attack_list'][i]['note']
                        ];

                attack_list.push(attack);

                update_attack_table();
                flaws_list.length = 0;
                perks_list.length = 0;
                update_flaw_table();
                update_perk_table();
        }
        }

        if(data['health']) $("#statshealth_text").val(data['health']);
        if(data['endurance']) $("#statsedurance_text").val(data['endurance']);    
        if(data['defense']) $("#statsdefense_text").val(data['defense']);
        if(data['tv']) $("#statstv_text").val(data['tv']);

        if(data['combat_notes']) $("#combatnotes_text").val(data['combat_notes']);
        if(data['background']) $("#background_text").val(data['background']);
        if(data['appearance']) $("#appearance_text").val(data['appearance']);
        if(data['personality']) $("#personality_text").val(data['personality']);
        if(data['other_notes']) $("#othernotes_text").val(data['other_notes']);
            });
            
        });


    </script>


    <style>
       .module {
            background:  #003366;
       }
    </style>
    <div class="row">
        <div class="span12" style="text-align: center;"><h3>Edit Character</h3><p id="username">{{ session['username'] }}</p></div>
    </div>
    <div class="row">
        <div style="text-align: center;">
            <div class="row">
                <div class="module span6">
                    <h3>Character Name</h3>
                    <input id="name_text" type="text" class="span3" placeholder="Enter Name...">
                    <br><br>
                </div>
                <div class="module span6">
                    <h3>Character Portrait</h3>
                    <input id="portraiturl_text" type="text" class="span3" placeholder="Image (not implemented)">
                    <!--<button id="portraiturl_btn" type="submit" class="btn">Load</button>
                    <br><br>
                    <img src="/static/img/no_char_img.png" alt="logo" width="200" height="200" style="border: 3px black solid">-->
                    <br><br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="module span6">
                    <h3>Abilities</h3>
                    <table id="abilities_table" border="1" width="400" align="center">
                        <col width="150">
                        <col width="50">
                        <col width="200">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br>
                    <div class="span3 offset1">
                        Name:
                        <select id="abilitiesname_select" class="span2 pull-right">  
                            <option>None</option>
                        </select>
                        <br><br>
                        Value:
                        <select id="abilitiesvalue_select" class="span2 pull-right">  
                            <option>+1</option>  
                            <option>+2</option>  
                            <option>+3</option>  
                            <option>+4</option>  
                            <option>+5</option>  
                        </select>
                        <br><br>
                        Note:
                        <input id="abilitiesnote_text" type="text" placeholder="Note..." class="span2 pull-right"><br><br>
                        <button id="abilities_btn" class="btn pull-right">Add</button>
                        <br><br>
                    </div>
                </div>
                <div class="module span6">
                    <h3>Weaknesses</h3>
                    <table id="weaknesses_table" border="1" width="400" align="center">
                        <col width="150">
                        <col width="50">
                        <col width="200">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <br>
                    <div class="span3 offset1">
                        Name:
                        <select id="weaknessesname_select" class="span2 pull-right">  
                            <option>None</option>  
                        </select>
                        <br><br>
                        Value:
                        <select id="weaknessesvalue_select" class="span2 pull-right">  
                            <option>-1</option>  
                            <option>-2</option>  
                            <option>-3</option>  
                            <option>-4</option>  
                            <option>-5</option>  
                        </select>
                        <br><br>
                        Note:
                        <input id="weaknessesnote_text" type="text" placeholder="Note..." class="span2 pull-right"><br><br>
                        <button id="weaknesses_btn" type="submit" class="btn pull-right">Add</button>
                        <br><br>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="module span12">
                    <h3>Combat Stats</h3>
                    <div class="row">
                        <div class="span4 offset1" style="text-align: left;">
                            <div>
                                Health: <input id="statshealth_text" type="number" class="span3 pull-right" placeholder="50">
                            </div>
                            <br>
                            <div>
                                Defense: <input id="statsdefense_text" type="number" class="span3  pull-right" placeholder="3">
                            </div>
                        </div>
                        <div class="span4 offset1" style="text-align: left;">
                            <div>
                                Endurance: <input id="statsedurance_text" type="number" class="span3  pull-right" placeholder="20">
                            </div>
                            <br>
                            <div>
                                TV: <input id="statstv_text" type="number" class="span3  pull-right" placeholder="4">
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span12">
                            <table id="combatstats_table" border="1" width="910">
                                <col width="100">
                                <col width="305">
                                <col width="305">
                                <col width="50">
                                <col width="50">
                                <col width="50">
                                <col width="50">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Perks</th>
                                        <th>Flaws</th>
                                        <th>Roll</th>
                                        <th>DX</th>
                                        <th>Cost</th>
                                        <th>Note</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="span9 offset1" style="background: #336699;">
                            <div class="span9"><h4>Add Attack</h4><hr width="660"></div>
                            <div class="span4">
                                <div class="span4">
                                    Name: <input id="attackname_text" type="text" class="span3  pull-right" placeholder="Punch">
                                </div>
                                <div class="span4">
                                    Roll:<input id="attackroll_text" type="text" class="span3  pull-right" placeholder="">
                                </div>
                                <div class="span4">
                                    DX: <input id="attackdx_text" type="text" class="span3 pull-right" placeholder="">
                                </div>
                            </div>
                            <div class="span4">
                                <div class="span4">
                                    Cost: <input id="attackcost_text" type="text" class="span3  pull-right" placeholder="">
                                </div>
                                <div class="span4">
                                    Note: <input id="attacknote_text" type="text" class="span3  pull-right" placeholder="">
                                </div>
                            </div>
                            <div class="span5"><br></div>
                            <div class="span4">
                                <div class="row">
                                    <div class="span4" style="text-align: center">
                                        <h5>Add Perk</h5>
                                        <div class="span3" style="text-align: left">
                                            Name:
                                            <select id="perkname_select" class="span2 pull-right">  
                                                <option>None</option> 
                                            </select>
                                        </div>
                                    </div>
                                    <div class="span4" style="text-align: left">
                                        <div class="span3">
                                            Multiplier:
                                            <select id="perkmultiplier_select" class="span2 pull-right">  
                                                <option>+1</option>  
                                                <option>+2</option>  
                                                <option>+3</option>  
                                                <option>+4</option>  
                                                <option>+5</option>  
                                            </select>
                                        </div>
                                    </div>
                                    <div class="span4" style="text-align: left">
                                        <div class="span3">
                                            Note: <input id="perknote_text" type="text" class="span2 pull-right" placeholder="Note...">
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span3">
                                            <button id="perkadd_btn" type="submit" class="btn pull-right">Add Perk</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="span4">
                                <h5>Perks</h5>
                                <table id="perkselect_table" border="1" width="350">
                                    <col width="150">
                                    <col width="50">
                                    <col width="150">
                                    <thead>
                                        <tr>
                                            <th>Perk Name</th>
                                            <th>Mult</th>
                                            <th>Note</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <br>
                            </div>
                            <div class="span5"><br></div>
                            <div class="span4">
                                <div class="row">
                                    <div class="span4" style="text-align: center">
                                        <h5>Add Flaw</h5>
                                        <div class="span3" style="text-align: left">
                                            Name:
                                            <select id="flawname_select" class="span2 pull-right">  
                                                <option>None</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="span4" style="text-align: left">
                                        <div class="span3">
                                            Multiplier:
                                            <select id="flawmultiplier_select" class="span2 pull-right">  
                                                <option>-1</option>  
                                                <option>-2</option>  
                                                <option>-3</option>  
                                                <option>-4</option>  
                                                <option>-5</option>  
                                            </select>
                                        </div>
                                    </div>
                                    <div class="span4" style="text-align: left">
                                        <div class="span3">
                                            Note: <input id="flawnote_text" type="text" class="span2 pull-right" placeholder="Note...">
                                        </div>
                                    </div>
                                    <div class="span4">
                                        <div class="span3">
                                            <button id="flawadd_btn" type="submit" class="btn pull-right">Add Flaw</button>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                            </div>
                            <div class="span4">
                                <h5>Flaws</h5>
                                <table id="flawselect_table" border="1" width="350">
                                    <col width="150">
                                    <col width="50">
                                    <col width="150">
                                    <thead>
                                        <tr>
                                            <th>Flaw Name</th>
                                            <th>Mult</th>
                                            <th>Note</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <br>
                            </div>
                            <div class="span9">
                                <hr width="660">
                                <button id="attackadd_btn" type="submit" class="btn">Add Attack</button>
                                <br><br>
                            </div>
                        </div>
                        <div class="span3">
                            <br>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="module span12">
                    <h3>Combat Notes</h3>
                    <textarea class="input-xlarge span8" id="combatnotes_text" rows="5" style="resize:None"></textarea>
                    <br><br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="module span6">
                    <h3>Appearance</h3>
                    <textarea class="input-xlarge span4" id="appearance_text" rows="10" style="resize:None"></textarea>
                    <br><br>
                </div>
                <div class="module span6">
                    <h3>Personality</h3>
                    <textarea class="input-xlarge span4" id="personality_text" rows="10" style="resize:None"></textarea>
                    <br><br>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="module span6">
                    <h3>Background</h3>
                    <textarea class="input-xlarge span4" id="background_text" rows="10" style="resize:None"></textarea>
                    <br><br>
                </div>
                <div class="module span6">
                    <h3>Other Notes</h3>
                    <textarea class="input-xlarge span4" id="othernotes_text" rows="10" style="resize:None"></textarea>
                    <br><br>
                </div>
            </div>
             <br>
            <div class="row">
                <div class="span12">
                    <button id="edit_btn" type="submit" class="btn btn-lg btn-success">Edit Character</button>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


