{% extends "base.html" %}
{% block body %}
    <script type="text/javascript" src="/static/js/character_create.js"></script> 
        <script type="text/javascript">
            $(document).ready(function() {
                var charName = window.location.search.substring(1).split('=')[1];
                $.getJSON( '/specific_character_json', { name: "{{ session['username'] }}",  id: charName}, function( data ) {
                });
                
            });
        </script>
{% endblock %}


