{% extends "base.html" %}
{% block body %}
    <div class="row">
        <div class="span12">
            <h1>Game Room</h1>

            <script type="text/javascript">
                var cur_game_id;
                $(document).ready(function() {
                    cur_game_id = window.location.search.substring(1).split('=')[1];          
                });
                $(document).ready(function() {
                        $.getJSON( '/game_room_json', { game_id: cur_game_id, user_id: "{{ session['username'] }}" }, function( data ) {
                            var table_obj = $('#table');
                            $.each(data, function(index, field) {
                                $('#title').text('Characters')
                                
                                var table_row = $('<tr>', {id: index});
                                var char_owner = $('<td>', {html: field.owner_id})
                                var char_name = $('<tr>', {html: field.char_name});
                                
                                if (field.can_edit == 'Y') {
                                    var edit_char = "/edit_character?char_id=" + field.char_id
                                    var edit_character_link = $('<td>', {html: "<a href='"+edit_char+"'>edit</a>"});
                                }else{
                                    var edit_character_link = $('<td>', {html: ""});
                                }
                                
                                if (field.can_remove == 'Y') {
                                    var remove_char = "/remove_character?char_id=" + field.char_id
                                    var remove_character_link = $('<td>', {html: "<a href='"+remove_char+"'>remove</a>"});
                                }else{
                                    var remove_character_link = $('<td>', {html: ""});
                                }
                                
                                var view_char= "/view_character?char_id=" + field.char_id
                                var view_character_link = $('<td>', {html: "<a href='"+view_char+"'>view</a>"});

                                table_row.append(char_name);
                                table_row.append(char_owner);
                                table_row.append(view_character_link);
                                table_row.append(remove_character_link);
                                table_row.append(edit_character_link);
                                table_obj.append(table_row);
                                
                            });
                            
                            //console.log(JSON.stringify(data));
                        });
                        
                });
                $(document).ready(function() {
                        $.getJSON( '/add_rights_json', { game_id: cur_game_id, user_id: "{{ session['username'] }}" }, function( data ) {
                            var table_obj = $('#table');
                            $.each(data, function(index, field) {
                                $('#title').text('Characters')
                                
                                if (field.can_add == 'Y') {
                                    console.log("setting visible");
                                    var e = document.getElementById("add")
                                    e.style.display = 'block';
                                }else{
                                    console.log("setting invisible");
                                    var e = document.getElementById("add")
                                    e.style.display = 'none';
                                }
                                
                            });
                            
                            //console.log(JSON.stringify(data));
                        });
                        
                });
                function searchCharacter() {
                    var charName = document.getElementById("cname").value;
                    var ownerName = document.getElementById("oname").value;
                    
                    $.getJSON( '/character_search_json', { char_name: charName, owner_name : ownerName }, function( data ) {
                        var table_obj = $('#table2');
                        $.each(data, function(index, field) {
                            $('#title').text('Characters found:')
                                
                            var table_row = $('<tr>', {id: field.user_id});
                            var table_c_name = $('<td>', {html: field.name});
                            var table_c_combatnotes = $('<td>', {html: field.combat_notes});
                            var table_c_defense = $('<td>', {html: field.defense});
                            var table_c_health= $('<td>', {html: field.health});
                            var table_c_endurance = $('<td>', {html: field.endurance});
                            var table_c_tv = $('<td>', {html: field.tv});
                            var table_c_background = $('<td>', {html: field.background});
                            var table_c_appearance = $('<td>', {html: field.appearance});
                            var table_c_personality = $('<td>', {html: field.personality});
                            var table_c_other_notes = $('<td>', {html: field.other_notes});
                            var table_c_portrait_url = $('<td>', {html: field.portrait_url});
                            var table_c_icon_url = $('<td>', {html: field.icon_url});
                            var table_c_edit_link = $('<td><a href="/character_edit?name=' + field.char_id + '">edit</a>');
                                
                            table_row.append(table_c_name);
                            table_row.append(table_c_combatnotes);
                            table_row.append(table_c_defense);
                            table_row.append(table_c_health);
                            table_row.append(table_c_endurance);
                            table_row.append(table_c_tv);
                            table_row.append(table_c_background);
                            table_row.append(table_c_appearance);
                            table_row.append(table_c_personality);
                            table_row.append(table_c_other_notes);
                            table_row.append(table_c_portrait_url);
                            table_row.append(table_c_icon_url);
                            table_row.append(table_c_edit_link)
                            table_obj.append(table_row);
                        });
                        //console.log(JSON.stringify(data));
                    });
                }
            </script>
            
            <div id="add">
                    <div>
                        <form class="form" id="create-form" method="post" action="javascript:searchCharacter()">
                            Find Character:&nbsp;&nbsp;<input id="cname" type="text" name="char_name" placeholder="character name">
                            <input id="oname" type="text" name="owner_name" placeholder="user who owns it">                         
                            &nbsp;&nbsp;<input type="submit" value="search">
                        </form>
                    </div>
            </div>
            <br>
            <div id="characters_found">
                <style>
                    table, th, td {
                        
                    }
                    th, td {
                        padding:5px;
                    }
                </style>
                <table id="table2" border="3" style="width:600px">
                    <tr>
                        <th colspan="13">
                            <h3 id="title"></h3>
                        </th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Combat Notes</th>
                        <th>Defense</th>
                        <th>Health</th>
                        <th>Endurance</th>
                        <th>TV</th>
                        <th>Background</th>
                        <th>Appearance</th>
                        <th>Personality</th>
                        <th>Other Notes</th>
                        <th>Portrait URL</th>
                        <th>Icon URL</th>
                        <th>Edit</th>
                    </tr>
                </table>
            </div>
            
            <div id="characters">
                <style>
                    table, th, td {
                        
                    }
                    th, td {
                        padding:5px;
                    }
                </style>
                <table id="table" border="0" style="width:600px">
                    <tr>
                        <th colspan="12">
                            <h3 id="title"></h3>
                        </th>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <th>Owner</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </table>
            </div>
            
        </div>
    </div>
{% endblock %}