{% extends "base.html" %}
{% block body %}
  <div class="row">
	<div class="span12">
	  <div class="row-fluid heading">
		<div class="span12">
		  <h1>Login In</h1>
		  <p class="bigtext"><i>A Code will be sent to your email, use that code to log in</i></p>
		</div>
	  </div>
	  <div class="row-fluid spacing20">
	  </div>
	  <div class="row-fluid heading">
		<div class="span12">
		  <span class="circle">1</span> Get a login code
		</div>
	  </div>
	  <div class="row-fluid">
		<div class="span11 offset1">
		  <p id="code-error"></p>
		  <form class="form" id="code-form" method="post">
		<table>
		  <tr>
			<td>
			  Email:
			</td>
			<td>
			  <input type="text" name="Email">
			</td>
		  </tr>
		  <tr>
			<td>
			  <input type="submit" value="Send">
			</td>
		  </tr>
		</table>
		{% if email1 %}<p>{{ email1 }}</p>{% endif %}
		  </form>
		</div>
	  </div>
	  <br>
	  <div class="row-fluid spacing20">
	  </div>
	  <div class="row-fluid heading">
		<div class="span12">
		  <span class="circle">2</span> Enter the code you were sent
		</div>
	  </div>
	  <div class="row-fluid">
		<div class="span11 offset1">
		  <p id="login-error"></p>
		  <form class="form" id="login-form" method="post">
		<table>
		  <tr>
			<td>
			  Email:
			</td>
			<td>
			  <input type="text" name="Email" value="{{result}}">
			</td>
		  </tr>
		  <tr>
			<td>
			  Code:
			</td>
			<td>
			  <input type="text" name="Code">
			</td>
		  </tr>
		  <tr>
			<td>
			  <input type="submit" value="Login">
			</td>
		  </tr>
		</table>
		{% if email2 %}<p>{{ email2 }}</p>{% endif %}
		  </form>
		</div>
	  </div>
	  <br>
	</div>
  </div>
{% endblock %}
